/*Variablez*/

:root {
    --light-red: #FB565A;
    --basic-red: #E74246;
    --dark-red: #D7373B;
    --light-green: #00CA74;
    --basic-green: #00BC6C;
    --dark-green: #00AA62;
    --light-yellow: #EFC84A;
    --basic-yellow: #EAB534;
    --dark-yellow: #E5A722;
    --black: #000000;
    --light-black: #231F20;
    --dark: #283136;
    --light-dark: #4D4D4D;
    --white: #FFFFFF;
    --basic-white: #EEEEEE;
    --basic-white-2: #E1E1E1;
    --dark-gray: #444444;
    --dark-gray-1: #666666;
    --gray: #888888;
    --basic-gray: #A6A6A6;
    --basic-gray-2: #ABABAB;
    --basic-gray-3: #B4B9BB;
    --light-gray-1: #D5D5D5;
    --light-gray-2: #DFDFDF;
    --light-gray-3: #E1E1E1;
    --light-gray-4: #DBDBDB;
    --light-gray-5: #D7DCDF;
    --light-gray-6: #C1C1C1;
    --light-gray-7: #D7DCDE;
}

/*Global*/

body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    color: var(--dark);
    background-color: var(--white);
}

a {
    text-decoration: none;
    color: var(--black)
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
}

/*Grid*/

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: flex-start;
}

/*Main Header*/

.main-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--black);
    background-color: var(--basic-white);
    min-height: 115px;
    overflow: hidden;
}

/*Navigation*/

.main-navigation {
    margin: 0 auto;
    margin-top: 50px;
    width: 1160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation-list {
    list-style: none;
    margin: 0;
    margin-right: 45px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 487px;
}

.navigation-list a {
    display: block;
    position: relative;
    padding: 25px 22.5px;
}

.basket-link {
    display: block;
    padding: 25px 0px 25px 40px;
    position: relative;
}

.basket-link::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: left;
    top: 30px;
    left: 0;
}

.navigation-list a:hover, .basket-link:hover {
    color: var(--light-red);
}

.navigation-list .navigation-current::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 62%;
    background-color: var(--light-red);
    bottom: 10px;
    left: 22.5px;
}

.navigation-list a:active, .basket-link:active {
    color: var(--black);
    opacity: 0.3
}

.main-header-logo:active path {
    fill: var(--basic-gray);
}

/*Features*/

.features {
    position: relative;
    margin: 0 auto 78px;
    background-color: var(--basic-white);
}

.big-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 240px;
    min-height: 20px;
    background-color: var(--light-red);
    color: var(--white);
    border-radius: 3px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    padding: 16.5px 0;
    outline: none;
    cursor: pointer;
}

.big-button:hover, .big-button:focus {
    background-color: var(--basic-red);
}

.big-button:active {
    background-color: var(--dark-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.big-button:active span {
    opacity: 0.3;
}

/*slider*/

.slider {
    position: relative;
    margin: 0 auto;
    width: 1160px;
    box-sizing: border-box;
    min-height: 410px;
}

.slider-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 7px;
}

.slider-item {
    display: flex;
    flex-direction: column;
    width: 1160px;
    min-height: 410px;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: -20px;
}

.slide-1 {
    background-image: url("../img/nerds-index-slide-1.png");
}

.slide-2 {
    background-image: url("../img/nerds-index-slide-2.png");
}

.slide-3 {
    background-image: url("../img/nerds-index-slide-3.png")
}

.slogan-slide {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--black)
}

.text-slide {
    margin-top: -30px;
    margin-bottom: 50px;
}

.slide-button {
    margin-top: -12px;
}

.slide-2, .slide-3 {
    display: none;
}

.slider-controls {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 88px;
    left: 536px;
    bottom: 100px;
}

.slider-controls button {
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: var(--white);
}

.slider-controls .current::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border: 2px solid var(--light-gray-6);
    border-radius: 50%;
    top: 4px;
    left: 4px;
}

/*Productes*/

.product {
    width: 1160px;
    min-height: 428px;
    margin: 0 auto;
    margin-bottom: 72px;
    border-bottom: 2px solid var(--basic-white);
}

.product-list {
    width: 1100px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    row-gap: 100px;
}

.item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
}

.item .product-picture {
    order: -1;
}

.product-title {
    margin-top: 18px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--black);
    text-transform: uppercase;
}

.product-text {
    margin-top: -7px;
    margin-bottom: 24px;
}

.button {
    display: flex;
    flex-wrap: wrap;
    width: 160px;
    min-height: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    color: var(--white);
    border-radius: 3px;
    border: none;
    padding: 16px 0;
    outline: none;
    cursor: pointer;
}

.product-button {
    margin-top: 6px;
}

.product-item-1 .button {
    background-color: var(--light-red);
}

.product-item-1 .button:hover {
    background-color: var(--basic-red);
}

.product-item-1 .button:active {
    background-color: var(--dark-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.product-item-2 .button {
    background-color: var(--light-green);
}

.product-item-2 .button:hover {
    background-color: var(--basic-green);
}

.product-item-2 .button:active {
    background-color: var(--dark-green);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.product-item-3 .button {
    background-color: var(--light-yellow);
}

.product-item-3 .button:hover {
    background-color: var(--basic-yellow);
}

.product-item-3 .button:active {
    background-color: var(--dark-yellow);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.order:active span {
    opacity: 0.3;
}

/*Services*/

.services {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    min-height: 453px;
    border-bottom: 2px solid var(--basic-white);
    margin: 0 auto;
    margin-bottom: 45px;
}

.services-text-1 {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--black);
    margin: 0;
    margin-bottom: 33px;
}

.services-text-2 {
    margin: 0;
    margin-bottom: 40px;
}

.caption {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 24px;
}

.services-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.services-list .items {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 25px;
}

.services-list .items::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    background-color: var(--light-red);
    left: 0px;
    top: 10px;
}

/*Progress*/

.progress-wrapper {
    width: 357px;
    margin-top: -50px;
}

.progress-list {
    list-style: none;
    margin: 0;
    margin-left: -2px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    width: 357px;
}

.progress-list dt {
    grid-row: 1/2;
    margin: 0;
}

.progress-list dd {
    margin: 0;
    margin-top: 12px;
    font-size: 16px;
    line-height: 18px;
}

.description-progress {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 32px;
    margin-bottom: 30px;
    margin-left: 14px;
    color: var(--black);
}

.progress .number {
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
    color: var(--black);
}

.progress .percent {
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    vertical-align: top;
    color: var(--black);
}

/*Clientes*/

.clientes {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 80px;
    border-bottom: 2px solid var(--basic-white);
}

.clientes-list {
    list-style: none;
    margin: 0 auto;
    width: 1100px;
    margin-bottom: 38px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.client {
    position: relative;
}

.client:not(:first-child) {
    margin-right: 20px;
}

.client:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    background-color: var(--basic-white);
    right: -50px;
}

.client-2::after {
    top: 15px
}

.client:first-child {
    margin-top: 10px;
}

.client a {
    opacity: 0.2;
}

.client a:hover {
    opacity: 1;
}

.client a:active {
    opacity: 0.1;
}

/*Footer*/

.main-footer {
    overflow: hidden;
}

.contacts {
    position: relative;
    margin: 0 auto;
    min-height: 416px;
    background-image: url("../img/map-2.png");
    background-position: center;
    background-repeat: no-repeat;
}

.marker {
    position: absolute;
    left: 58%;
    top: 21%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.address {
    position: absolute;
    display: grid;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 319px;
    height: 308px;
    background-color: var(--white);
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    left: 4%;
    top: 13%;
}

.contacts-capture {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--black);
}

.address .contacts-text {
    margin-top: -15px;
    font-size: 16px;
    line-height: 18px;
    color: var(--dark-gray-1);
}

.address .phone {
    margin-top: -20px;
}

.phone a {
    color: var(--dark-gray-1);
}

.contacts .address-button {
    width: 219px;
    height: 50px;
}

.social-network {
    width: 1160px;
    display: grid;
    grid-template-columns: 400px 760px;
    justify-content: space-between;
    min-height: 80px;
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 50px;
}

.social-content {
    order: 1;
}

.social-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--basic-white-2);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.social-link:hover {
    background-color: var(--basic-red);
}

.social-link:active {
    background-color: var(--dark-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-link:active svg {
    opacity: 0.3;
}

.social-content {
    margin-top: -15px;
}

.slogan {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: -10px;
    color: var(--black)
}

.discount {
    color: var(--dark-gray);
}

/*CATALOG*/

.main-title-catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--basic-white);
    height: 225px;
}

.main-title-catalog h1 {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    margin: 70px auto 85px;
    padding-bottom: 30px;
}

.catalog-main {
    display: grid;
    grid-template-columns: 260px 1fr;
    column-gap: 140px;
    width: 1160px;
    margin: 0 auto;
}

/*Catalog-filter*/

.catalog-filter {
    grid-column: 1/2;
    margin-top: 55px;
}

.filter-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.legend {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--black);
}

.filter-item {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    border: none;
}

/*Range*/

.range-filter {
    width: 260px;
    margin-top: 50px;
}

.range-controls {
    position: relative;
    height: 80px;
    background-color: var(--basic-white);
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 39px 27.5px 0;
    box-sizing: border-box;
}

.range-controls .scale {
    width: 205px;
    height: 2px;
    background-color: var(--light-gray-5);
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background-color: var(--light-green);
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0;
    width: 4px;
    height: 4px;
    border: 8px solid var(--white);
    background-color: var(--basic-gray-2);
    border-radius: 50%;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

/*Price*/

.price-controls {
    display: flex;
    justify-content: space-between;
}

.price-controls label {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.price-controls input {
    width: 60px;
    padding: 10px;
    background-color: var(--basic-white);
    border-radius: 3px;
    border: none;
    margin-left: 10px;
    font-weight: inherit;
    font-size: inherit;
    text-align: center;
}

/*Filter-grid*/

.filter-grid {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
}

.filter-grid-list {
    display: grid;
    row-gap: 15px;
    margin-bottom: 40px;
    margin-left: 35px;
    padding: 0;
    list-style: none;
}

.filter-grid-list label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-grid-item.block label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    opacity: 0.4;
}

.filter-grid-list label::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border: none;
    background-image: url("../img/radio-off.svg");
    background-position: center;
    background-repeat: no-repeat;
    left: -35px;
    top: -1px;
    opacity: 0.4;
}

.filter-grid-item.block label::before {
    opacity: 0.1;
}

.filter-input-radio:hover+label::before {
    opacity: 1;
}

.filter-input-radio:checked+label::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    background-image: url("../img/radio-oval.svg");
    background-position: center;
    background-repeat: no-repeat;
    top: 7px;
    left: -27px;
    opacity: 0.4;
}

.filter-input-radio:hover+label::after {
    opacity: 1;
}

.filter-grid-item.block label::after {
    opacity: 0.1;
}

/*filter-features*/

.filter-features {
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
}

.filter-features-list {
    display: grid;
    row-gap: 15px;
    margin-bottom: 50px;
    margin-left: 35px;
    padding: 0;
    list-style: none;
}

.filter-features-list label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox.block+label {
    opacity: 0.4;
}

.filter-features-list label::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border: none;
    background-image: url("../img/shape-off.svg");
    background-position: center;
    background-repeat: no-repeat;
    left: -35px;
    top: -2px;
    opacity: 0.4;
}

.filter-input-checkbox:hover+label::before {
    opacity: 1;
}

.filter-input-checkbox.block+label::before {
    opacity: 0.1;
}

.filter-input-checkbox:checked+label::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: var(--white);
    border: none;
    background-image: url("../img/shape.svg"), url("../img/shape-2.svg");
    background-position: center, 5px 3px;
    background-repeat: no-repeat;
    left: -35px;
    top: -2px;
    opacity: 0.4;
}

.filter-input-checkbox:checked:hover+label::before {
    opacity: 1;
}

.filter-input-checkbox.block:checked+label::before {
    opacity: 0.1;
}

.filter-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 260px;
    min-height: 50px;
    background-color: var(--basic-white);
    color: var(--black);
    border-radius: 3px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    padding: 16px 0;
    outline: none;
}

.filter-button:hover {
    background-color: var(--light-gray-2);
}

.filter-button:active {
    background-color: var(--light-gray-1);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.order:active {
    color: rgba(250, 250, 250, 0.3)
}

.order-black:active {
    color: rgba(0, 0, 0, 0.3)
}

/*Catalog-product*/

.catalog-product {
    grid-column: 2/3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.catalog-sort {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    column-gap: 40px;
    margin-top: 38px;
}

.sort-button-group {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.sort-button {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    border: none;
    background-color: var(--white);
    cursor: pointer;
    outline: none;
    margin-left: -25px;
}

.sort-button-down, .sort-button-up {
    width: 11px;
    height: 10px;
    align-self: center;
    opacity: 0.5;
    padding-bottom: 20px;
}

.sort-button-down:hover, .sort-button-up:hover {
    opacity: 1;
}

.sort-button-down:active path, .sort-button-up:active path {
    fill: var(--light-black);
}

.sort-button-down:focus path, .sort-button-up:focus path {
    fill: var(--light-black);
}

.sort-button span {
    opacity: 0.3;
}

.sort-button:hover span {
    opacity: 0.6;
}

.sort-button:active span, .sort-button:focus span {
    opacity: 1;
}

.catalog-product-list {
    list-style: none;
    margin: 0;
    margin-top: 27px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 30px;
}

.catalog-product-list li {
    position: relative;
    display: block;
    width: 360px;
    height: 620px;
    background-color: var(--basic-white);
    border-radius: 5px;
}

.product-link {
    display: block;
    position: relative;
    margin-top: 40px;
    width: 360px;
    height: 580px;
}

.product-link:hover {
    box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.product-link::before {
    content: "";
    position: absolute;
    width: 360px;
    height: 40px;
    background-image: url("../img/shape-modal.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    top: -40px;
    opacity: 0.12;
}

.product-link:hover::before {
    opacity: 1;
}

.catalog-product-modal {
    position: absolute;
    width: 360px;
    height: 230px;
    background-color: var(--basic-white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    bottom: 0px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
}

.product-link:hover+.catalog-product-modal {
    display: flex;
}

.current-link {
    box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.current-link::before {
    opacity: 1;
}

.current-modal {
    display: flex;
}

.product-modal-title a {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 3px;
}

.product-modal-title a:hover {
    color: var(--light-red);
}

.product-modal-title a:active {
    opacity: 0.3;
}

.product-modal-description {
    font-size: 16px;
    line-height: 18px;
    color: var(--dark-gray-1);
    margin-top: -20px;
}

.modal-button {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    min-height: 50px;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    border-radius: 3px;
    background-color: var(--light-red);
    padding: 17px 0;
    box-sizing: border-box;
    margin-bottom: 33px;
}

.modal-button:hover {
    background-color: var(--basic-red);
}

.modal-button:active {
    background-color: var(--dark-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*Pagination*/

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    width: 760px;
    list-style: none;
    margin: 60px 0 55px 400px;
    padding: 0;
}

.pagination-link, .big-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    font-size: 16px;
    line-height: 18px;
    color: var(--black);
    background-color: var(--basic-white);
    border-radius: 3px;
}

.big-link {
    width: 260px;
    text-transform: uppercase;
}

.pagination-link:hover, .big-link:hover {
    background-color: var(--light-gray-2);
}

.pagination-link:checked, .big-link:focus {
    background: var(--light-gray-1);
    border: 3px solid var(--light-gray-4);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pagination-link:active, .big-link:active {
    background-color: var(--light-gray-1);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-link:active span, .big-link:active span {
    opacity: 0.3;
}

.pagination-link.current {
    background: var(--white);
    border: 3px solid var(--light-gray-4);
    box-sizing: border-box;
}

/*Popup*/

.modal-login {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 960px;
    height: 590px;
    background-color: var(--white);
    padding: 0 100px;
    box-sizing: border-box;
    display: none;
}

.modal-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

.modal-form {
    position: relative;
    display: grid;
    font-weight: 700;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    margin-top: -50px;
}

.modal-form input {
    width: 360px;
    height: 50px;
}

.login-user {
    border: 2px solid var(--light-gray-7);
}

.login-user:hover {
    border: 2px solid var(--basic-gray-3);
}

.description-form {
    grid-column: 1/3;
    grid-row: 2/3;
}

.login-button {
    width: 260px;
    height: 50px;
    background-color: var(--light-red);
    color: var(--white);
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    grid-row: 3/4;
    grid-column: 1/3;
    margin-top: -50px;
}

.modal-close {
    position: absolute;
    display: block;
    width: 21px;
    height: 21px;
    background-image: url("../img/close-cross.svg");
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
    right: -25px;
    top: -25px;
    opacity: 0.3;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.1;
}

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}